header, nav, main, footer {
    max-width: 60rem;
    margin: auto;
}

.testimonials {
    section {
        grid-template-columns: 200px auto;
        column-gap: 8px;
    }
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}