$PrimaryColor: #124926;
$SecondaryColor: #124926;
$FontColor: #e95710;
$TertiaryColor:#124926;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;
$gutter: 16px;